.summary {
  overflow-x: scroll;

  table {
    border: none;

    tr {
      border: none;

      td {
        border: none;

      }
    }
  }
}
.menu-artem{
  background-color: white;
  position:fixed;
}
//#reason {
//  width: 27%;
//  margin: 0 3%;
//  display: inline-block;
//}
//#reason, #reason2 {
//  width: 90%;
//  margin: 5%;
//  font-size: 1.2em;
//
//}
.icons{
  width: 100%;
}


#offer div {


  img{
    width: 100%;
  }
}
