#tegi{
	width:100%;
	margin:0;
	padding:0;
}
.tegi_teg{
	width: 32.5vw;
	margin:0.2vw;
	padding:0;
	height: 32vw;
float:left;
background-color: #BCAFE8;
}
.tegi_teg p{
	padding:0.4vw;
	position: relative;
	top: 7vh;
	display: block;
	font-size: 1.2vw;
}
.tegi_teg h2{
text-align: center;
position: relative;
top:10vh;
text-align: center;
display: block;
}
